body {
    background-color: cornsilk;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

h1.header {
    background-image: url("/resources/Images/pattern.webp");
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 100px;
}