/*
body {
    background-color: cornsilk;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
*/
h1.header {
    
    color: rgb(255, 166, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 100px;
}

.headerBackground {
    background-image: url("/resources/Images/pattern.webp");
    border-image-repeat: 0;
    text-align: center;
}