* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: cornsilk;
    margin: 0;
    text-align: center;
}

h1.header {
    background-image: url("../Images/pattern.webp"); /* The Image being used for the header background*/
    background-color: gray; /* Thie color is shown if the image cannot be loaded or is unvailable */
    background-repeat: no-repeat; /*Do not repeat the image is the size of the frame is too large*/
    background-position: center; /*centers the part of the image we see to the center*/
    background-size: cover; /* Resize the background image to cover the entire container */
    text-align: center;
    color:rgb(55, 0, 255);
    font-size: 4em;
    margin: 0 auto;
    padding: 150px 50px;
}

.purchase {
    color:rgb(55, 0, 255);
    font-weight: bold;
}

.brushes, .frames, .paint {
    font-size: 40px;
    color: white;
    padding: 5px 5px;
}

.brushes {
    background-color: lightcoral;
}

.frames {
    background-color: lightskyblue;
}

.paint {
    background-color: lightgreen;
}